body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at center, #1e1e1e 0%, #121212 100%);
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent body from scrolling */
}

.container {
    text-align: center;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
    padding: 10px 20px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.4s ease-out, height 0.4s ease-out;
}

button:active::before {
    width: 300%;
    height: 300%;
}

button.blue-gradient-hover {
    background: linear-gradient(145deg, #1e88e5, #1565c0, #1e88e5);
    background-size: 400% 400%;
    transition: background 0.3s ease;
}

button.blue-gradient-hover:hover {
    background-position: 0 50%;
    animation: gradient-blue 3s ease infinite;
}

button.red-gradient-hover {
    background: linear-gradient(145deg, #d32f2f, #b71c1c, #d32f2f);
    background-size: 400% 400%;
    transition: background 0.3s ease;
}

button.red-gradient-hover:hover {
    background-position: 0 50%;
    animation: gradient-red 3s ease infinite;
}

@keyframes gradient-blue {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}

@keyframes gradient-red {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}


.user-box, .audit-log-box {
    border-radius: 10px;
    border: 1px solid #333333;
    width: 500px;
    height: 500px;
    overflow-y: auto;
    padding: 20px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5), 0 5px 15px rgba(0, 0, 0, 0.5);
    background: #1e1e1e linear-gradient(145deg, #1c1c1c, #202020);
}

.audit-log-box {
    display: flex;
    flex-direction: column-reverse;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center the items horizontally */
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #2c2c2c;
    border: 1px solid #444444;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.2);
}

li div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

li button {
    background-color: #1e88e5;
    margin: 5px;
    flex: 1;
    font-size: 14px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
}

li button:hover {
    background-color: #1565c0;
    transform: scale(1.05);
}

li button.remove-button {
    background-color: #d32f2f;
}

li button.remove-button:hover {
    background-color: #b71c1c;
}

#popupModal, #addUserModal, #auditLogModal, .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
    animation: fadeIn 0.3s;
}

.modal-content {
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #444444;
    width: 90%; /* Responsive width */
    max-width: 550px; /* Max width for large screens */
    max-height: 90vh; /* Max height for the viewport */
    text-align: center;
    border-radius: 5px;
    animation: slideIn 0.3s;
    overflow-y: auto; /* Scroll within the modal content */
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5), 0 5px 15px rgba(0, 0, 0, 0.5);
    background: #2c2c2c linear-gradient(145deg, #292929, #2e2e2e);
}

.modal-content.slide-out {
    animation: slideOut 0.3s;
}

.audit-log-entry, .modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    border: 1px solid #444444;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.audit-log-entry h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
}

.audit-log-entry p, .modal-box p {
    margin: 0;
    font-size: 14px;
}

.close, .close-add, .close-audit, .close-input, .close-confirmation {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close-add:hover,
.close-add:focus,
.close-audit:hover,
.close-audit:focus,
.close-input:hover,
.close-input:focus,
.close-confirmation:hover,
.close-confirmation:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
    transition: border-color 0.3s;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:focus {
    border-color: #1e88e5;
    outline: none;
}

.bottom-left-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #1e88e5;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.bottom-left-button:hover {
    background-color: #1565c0;
    transform: scale(1.05);
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-50px); }
}

@keyframes gradient {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}
